

<div class = "container team">

	<div class="row media-heading">
		<h1> Team </h1>
	</div>

	<div class="row">

		<div class="col-md-4">

			<img src="https://pbs.twimg.com/profile_images/3747202848/ca31af036af09d719f6be53b9c3cd903.jpeg" class="img-rounded img-responsive">
		</div>

		<div class="col-md-8">

			<p> My name is Hunter Kiely. I am an entrepreneur and patient that is out to change healthcare and biotech. Presently I am learning how to develop a webapp using rails. Over the past four months, I have taught myself HTML, CSS, JQuery, JavaScript, Ruby, and am currently learning Python. </p>
		</div>

	</div>

</div>



<!--

<div class="media">
	<a class="pull left" href="">
		<img class="media-object" src="http://visitmix.com/Content/Files/writingImage_Ninja-Coders-and-Despot-Designers-Game-Over.jpg" alt"...">
	</a>

	<div class="media-body">
		<h1 class="media-heading">Team</h1>
		<p> Sample team member biography here <p>
	</div>
</div>

-->